<div class="row">
   <!-- Column -->
   <div class="col-md-9">
      <div class="card">
          <div class="card-body">
            <div class="d-flex no-block">
              <h4 class="card-title">Projects of the Month</h4>
              <div class="ml-auto">
                <select class="custom-select">
                  <option selected="">January</option>
                  <option value="1">February</option>
                  <option value="2">March</option>
                  <option value="3">April</option>
                </select>
              </div>
            </div>
            <div class="table-responsive m-t-20">
              <table class="table stylish-table">
                <thead>
                  <tr>
                    <th colspan="2">Assigned</th>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Budget</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="width:50px;"><span class="round">S</span></td>
                    <td>
                      <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                    </td>
                    <td>Elite Admin</td>
                    <td><span class="label label-success">Low</span></td>
                    <td>$3.9K</td>
                  </tr>
                  <tr class="active">
                    <td><span class="round"><img src="../assets/images/users/2.jpg" alt="user" width="50"></span></td>
                    <td>
                      <h6>Andrew</h6><small class="text-muted">Project Manager</small>
                    </td>
                    <td>Real Homes</td>
                    <td><span class="label label-info">Medium</span></td>
                    <td>$23.9K</td>
                  </tr>
                  <tr>
                    <td><span class="round round-success">B</span></td>
                    <td>
                      <h6>Bhavesh patel</h6><small class="text-muted">Developer</small>
                    </td>
                    <td>MedicalPro Theme</td>
                    <td><span class="label label-primary">High</span></td>
                    <td>$12.9K</td>
                  </tr>
                  <tr>
                    <td><span class="round round-primary">N</span></td>
                    <td>
                      <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                    </td>
                    <td>Elite Admin</td>
                    <td><span class="label label-danger">Low</span></td>
                    <td>$10.9K</td>
                  </tr>
                  <tr>
                    <td><span class="round round-warning">M</span></td>
                    <td>
                      <h6>Micheal Doe</h6><small class="text-muted">Content Writer</small>
                    </td>
                    <td>Helping Hands</td>
                    <td><span class="label label-warning">High</span></td>
                    <td>$12.9K</td>
                  </tr>
                  <tr>
                    <td><span class="round round-danger">N</span></td>
                    <td>
                      <h6>Johnathan</h6><small class="text-muted">Graphic</small>
                    </td>
                    <td>Digital Agency</td>
                    <td><span class="label label-info">High</span></td>
                    <td>$2.6K</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3">
      <div class="card">
          <img class="dolar" src="../assets/images/background/dolar.jpg" alt="Card image cap">
          <div class="card-img-overlay" style="height:110px;">
              <h3 class="card-title text-white m-b-0 dl">Dolar</h3>
              <small class="card-text text-white font-light">
                Date: 19/11/1987
              </small>
          </div>
          <div class="card-body weather-small">
              <div class="row">
                  <div class="col-8 b-r align-self-center">
                      <div class="d-flex">
                          <div class="display-6 text-info"><i class="wi wi-day-rain-wind"></i></div>
                          <div class="m-l-20">
                              <h2 class="font-light text-info m-b-0">32<sup>0</sup></h2>
                              <small>Sunny Rainy day</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-4 text-center">
                      <h2 class="font-light m-b-0">25<sup>0</sup></h2>
                      <small>Tonight</small>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="d-flex flex-wrap">
              <div>
                <h3 class="card-title">Newsletter Campaign</h3>
                <h6 class="card-subtitle">Overview of Newsletter Campaign</h6>
              </div>
              <div class="ml-auto align-self-center">
                <ul class="list-inline m-b-0">
                  <li>
                    <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Open Rate</h6>
                  </li>
                  <li>
                    <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Recurring Payments</h6>
                  </li>
                </ul>
              </div>
          </div>
            <div class="campaign ct-charts"></div>
            <div class="row text-center">
              <div class="col-lg-4 col-md-4 m-t-20">
                <h2 class="m-b-0 font-light">5098</h2><small>Total Sent</small>
              </div>
              <div class="col-lg-4 col-md-4 m-t-20">
                <h2 class="m-b-0 font-light">4156</h2><small>Mail Open Rate</small>
              </div>
              <div class="col-lg-4 col-md-4 m-t-20">
                <h2 class="m-b-0 font-light">1369</h2><small>Click Rate</small>
              </div>
            </div>
      </div>
      
  </div>
  <!-- Column -->
</div>
<div class="row">
  
  <div class="col-lg-8">
   
  </div>
</div>







